

@font-face {
    font-family: 'bignoodletitlingoblique';
    src: url('../fonts/big_noodle_titling_oblique-webfont.eot');
    src: url('../fonts/big_noodle_titling_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff') format('woff'),
         url('../fonts/big_noodle_titling_oblique-webfont.ttf') format('truetype'),
         url('../fonts/big_noodle_titling_oblique-webfont.svg#bignoodletitlingoblique') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family: bignoodletitlingoblique;
	font-size: 32px;
	font-style: italic;
}
nav{
	width: 100%;
	height: 50px;
	background-color: #81BEF7;
}

/*** Gestion du logo navigation ***/
#logo_nav {
	font-family: 'bignoodletitlingoblique', sans-serif;
	font-size: 35px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	width: 29%;
	color: #fff;
	height: 50px;
	float: left;
	line-height: 60px;
	letter-spacing: 0.2em;
	word-spacing: 30px;
	font-style: italic;
}
/*** Gestion du menu navigation ***/
#menu_nav{
	display: inline-block;
	width: 70%;
}
#list_nav {
	padding: 0; margin: 0;
	text-align: right;
	height: 50px;
	width:100%;
}
#list_nav li {
	display: inline-block;
  	justify-content: center;
  	align-items: center;
  	line-height: 60px;
}
#list_nav li a {
	margin: 0 30px;
	text-decoration: none;
	color:white;
	height:100%;
	left: 0px;
	  /* on définit la transition pour les navigateurs */
	-webkit-transition: all 2s; /* Chrome/Safari */
	-moz-transition: all 2s; /* Firefox (plus trop nécessaire) */
	transition: all 2s; /* syntaxe officielle */
}

#list_nav li a:hover{
	color:#D8D8D8;
	position: relative;
	left:10px;
	/*transition: color 0.5s left 1s;*/
}

/***************************/
/*** Gestion bloc myself ***/
/***************************/
#bloc_myself{
	width: 80%;
	margin: auto;
	height: 350px;
}
@keyframes slidein {
  from {
  	opacity:0;
    margin-left: 30%;
  }
  30%{
  	opacity: 1;
  }
  to{
  	margin-left: 40%;
  }
}
@keyframes slideinspecialisation {
  from {
    margin-left: 40%;
    opacity: 0;
  }
  10%{
  	opacity: 0;
  }
  20%{
  	opacity: 1;
  }
  to{
  	margin-left: 65%;
  }
}
@keyframes slideincompany {
  from {
    margin-left: 40%;
    font-size: 100px;
    opacity: 0;
  }
  5%{
  	opacity: 0;
  }
  15%{
  	opacity: 1;
  }
  to{
  	margin-left: 50%;
  }
}
#play_of_the_game{
	font-family: 'bignoodletitlingoblique', sans-serif;
	text-align: left;
	margin-top: 100px;
	font-size: 100px;
	letter-spacing: 0.03em;
	font-style: italic;
}
#metier,#specialisation{
	position:relative;
	animation-duration: 10s;
  	animation-name: slidein;
  	animation-fill-mode: forwards;
}
#specialisation{
	animation-duration: 10s;
  	animation-name: slideinspecialisation;
  	animation-fill-mode: forwards;
	font-size: 80px;
}
#company{
	position:relative;
	color: #FFDD19;
	animation-duration: 10s;
  	animation-name: slideincompany;
  	animation-fill-mode: forwards;
}
/***************************/
/*** Gestion bloc myself ***/
/***************************/
#social_network{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
}
 @-moz-keyframes slidesocial {
    from {
       transform: translate(30px,0em);
       opacity: 0;
    }
    to {
       transform: translate(0px);
       opacity:1;
    }
 }
 @-webkit-keyframes slidesocial {
    from {
       transform: translate(30px,0em);
       opacity: 0;
    }
    to {
       transform: translate(0);
       opacity:1;
    }
 }
@keyframes pulsesocial {
	from {
		transform: scale(1);
	}
	to{
		transform: scale(1.1);
	}
}
#bloc_social_network{
	background-color: #F2F2F2;
	text-align: center;
	padding-top: 45px;
	width: 100%;
	font-size: 50px;
	height: 250px;
}
#social_network{
	margin-top: 50px;
}
.once_animation{
	width: 100px;
	height: 100px;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-name: slidesocial;
    -webkit-animation-name: slidesocial;
    -moz-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}
.once_animation:nth-child(2){
	opacity: 0;
    -moz-animation-delay: 0.10s;
    -webkit-animation-delay: 0.10s;
}
.once_animation:nth-child(3){
	opacity: 0;
    -moz-animation-delay: 0.20s;
    -webkit-animation-delay: 0.20s;
}
.once_animation:nth-child(4){
	opacity: 0;
    -moz-animation-delay: 0.30s;
    -webkit-animation-delay: 0.30s;
}
.once_animation:nth-child(5){
	opacity: 0;
    -moz-animation-delay: 0.40s;
    -webkit-animation-delay: 0.40s;
}
.once_animation:nth-child(6){
	opacity: 0;
    -moz-animation-delay: 0.50s;
    -webkit-animation-delay: 0.50s;
}
.img_pulse:hover{
  	animation-name: pulsesocial;
  	animation-duration: 0.2s;
  	animation-fill-mode: forwards;
}
/****************************/
/*** Gestion bloc apropos ***/
/****************************/
#bloc_a_propos{
	background-color: #F2F2F2;
	text-align: center;
	display: table-cell;
	border-spacing: 60px;
	font-size: 22px;
	justify-content: space-around;
}
#bloc_a_propos:before{
    display:block;
    clear:both;
    content : "";
    position: relative;
    left    : 0;
    bottom  : 0;
    max-width:100%;
    height  : 1px;
    width   : 90%;  /* or 100px */
    border-top:1px solid #E3E3E3;
    margin:0 auto;
    padding:4px 0px;
}
#bloc_a_propos h1{
	font-size: 50px;
	margin-top: 20px;
}
#bloc_a_propos h3{
	color: #FFDD19;
	font-size:30px;
	text-align: center;
	margin-bottom: 10px;
}
#right_bloc_propos{
	width:45%;
	position: relative;
	display: table-cell;

	background-color: #fff;
	box-sizing: border-box;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}
#left_bloc_propos{
	width: 60%;
	display: table-cell;
	box-sizing: border-box;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}
#left_bloc_propos h2{
	font-weight: bold;
	font-size: 30px;
}
#left_bloc_propos h3{
	text-align: left;
	padding-top: 10px;
	font-size:20px;
	color: #000;
}
#left_bloc_propos p{
	text-align: left;
	padding-top: 10px;
	font-size:18px;
	color: #000;
}
/****************************/
/*** Gestion bloc twitter ***/
/****************************/
#live_tweet{
	text-align: center;
	width: 100%;
	font-size: 12px;
	margin-bottom: 30px;
}
#live_tweet h1{
	font-size: 50px;
	margin-top: 20px;
}
/***************************/
/*** Gestion bloc footer ***/
/***************************/
#footer{
	text-align: center;

}
