

@font-face {
    font-family: 'bignoodletitlingoblique';
    src: url('../fonts/big_noodle_titling_oblique-webfont.eot');
    src: url('../fonts/big_noodle_titling_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff') format('woff'),
         url('../fonts/big_noodle_titling_oblique-webfont.ttf') format('truetype'),
         url('../fonts/big_noodle_titling_oblique-webfont.svg#bignoodletitlingoblique') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura';
    src: url('../fonts/FuturaNo2D.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
body{
	font-family: bignoodletitlingoblique;
	font-size: 32px;
}
nav{
	width: 100%;
	height: 60px;
	background-color: #21294e;
}
h1{
	font-style: italic;
}
/*** Gestion du logo navigation ***/
#nav_avatar {
	height: 60px;
	display: inline-block;
	text-align: center;
	background-color: #fff;
	width:60px;
	border-left:5px solid #88fa03;
}
#nav_avatar img{
	width: 100%;
	vertical-align: middle;
	box-sizing: border-box;
}
#logo_nav{
	font: normal normal normal 10px Arial,sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-style: normal;
	margin-left: 10px;
}
#me_nav {
	font: normal normal normal 10px Arial,sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	width: 34.9%;
	color: #fff;
	font-style: normal;
	float: left;
}
/*** Gestion du menu navigation ***/
#menu_nav{
	display: inline-block;
	width: 65%;
}
#list_nav {
	padding: 0; margin: 0;
	text-align: right;
	height: 60px;
	width:100%;
}
#list_nav li {
	display: inline-block;
  	justify-content: center;
  	align-items: center;
  	line-height: 57px;
  	-webkit-transition: all 0.2s; /* Chrome/Safari */
	-moz-transition: all 0.2s; /* Firefox (plus trop nécessaire) */
	transition: all 0.2s; /* syntaxe officielle */
}
#list_nav li a {
	margin: 0 30px;
	text-decoration: none;
	font-style: normal;
	font-family: Futura;
	font-size: 19px;
	text-transform: uppercase;
	color: #27b4e2;
	height:100%;
	left: 0px;
	-webkit-transition: all 0.2s; /* Chrome/Safari */
	-moz-transition: all 0.2s; /* Firefox (plus trop nécessaire) */
	transition: all 0.2s; /* syntaxe officielle */
}

#list_nav li:hover{
	color:#FFF;
	background-color: #3798d6;	
}
#list_nav li:hover a{
	color:#FFF;	
}
#list_nav li:after {
  display:block;
  content: '';
  border-bottom: solid 3px #26fcfc;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
#list_nav li:hover:after { transform: scaleX(1); }

/***************************/
/*** Gestion bloc myself ***/
/***************************/
#bloc_myself{
	width: 100%;
	margin: auto;
	height: 450px;

}

@keyframes slidein {
  from {
  	opacity:0;
    margin-left: 30%;
  }
  30%{
  	opacity: 1;
  }
  to{
  	margin-left: 40%;
  }
}
@keyframes slideinspecialisation {
  from {
    margin-left: 40%;
    opacity: 0;
  }
  10%{
  	opacity: 0;
  }
  20%{
  	opacity: 1;
  }
  to{
  	margin-left: 65%;
  }
}
@keyframes slideincompany {
  from {
    margin-left: 40%;
    font-size: 100px;
    opacity: 0;
  }
  5%{
  	opacity: 0;
  }
  15%{
  	opacity: 1;
  }
  to{
  	margin-left: 50%;
  }
}
#play_of_the_game{
	font-family: 'bignoodletitlingoblique', sans-serif;
	text-align: left;
	padding-top: 100px;
	font-size: 100px;
	letter-spacing: 0.03em;
	font-style: italic;
	background: url('../images/ow-background.jpg');
	height: 100%;
}
#metier,#specialisation{
	position:relative;
	color:#000;
	animation-duration: 10s;
  	animation-name: slidein;
  	animation-fill-mode: forwards;
}
#specialisation{
	animation-duration: 10s;
  	animation-name: slideinspecialisation;
  	animation-fill-mode: forwards;
	font-size: 80px;
}
#company{
	position:relative;
	color: #FFDD19;
	animation-duration: 10s;
  	animation-name: slideincompany;
  	animation-fill-mode: forwards;
}
/***************************/
/*** Gestion bloc myself ***/
/***************************/
#social_network{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
}
 @-moz-keyframes slidesocial {
    from {
       transform: translate(30px,0em);
       opacity: 0;
    }
    to {
       transform: translate(0px);
       opacity:1;
    }
 }
 @-webkit-keyframes slidesocial {
    from {
       transform: translate(30px,0em);
       opacity: 0;
    }
    to {
       transform: translate(0);
       opacity:1;
    }
 }
@keyframes pulsesocial {
	from {
		transform: scale(1);
	}
	to{
		transform: scale(1.1);
	}
}
#bloc_social_network{
	background-color: #f0edf2;
	text-align: center;
	padding-top: 45px;
	width: 100%;
	font-size: 50px;
	height: 250px;
}
#social_network{
	margin-top: 50px;
}
.once_animation{
	width: 100px;
	height: 100px;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-name: slidesocial;
    -webkit-animation-name: slidesocial;
    -moz-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}
.once_animation:nth-child(2){
	opacity: 0;
    -moz-animation-delay: 0.10s;
    -webkit-animation-delay: 0.10s;
}
.once_animation:nth-child(3){
	opacity: 0;
    -moz-animation-delay: 0.20s;
    -webkit-animation-delay: 0.20s;
}
.once_animation:nth-child(4){
	opacity: 0;
    -moz-animation-delay: 0.30s;
    -webkit-animation-delay: 0.30s;
}
.once_animation:nth-child(5){
	opacity: 0;
    -moz-animation-delay: 0.40s;
    -webkit-animation-delay: 0.40s;
}
.once_animation:nth-child(6){
	opacity: 0;
    -moz-animation-delay: 0.50s;
    -webkit-animation-delay: 0.50s;
}
.img_pulse:hover{
  	animation-name: pulsesocial;
  	animation-duration: 0.2s;
  	animation-fill-mode: forwards;
}
/****************************/
/*** Gestion bloc apropos ***/
/****************************/
#bloc_a_propos{
	background-color: #F2F2F2;
	text-align: center;
	display: table-cell;
	border-spacing: 60px;
	font-size: 22px;
	justify-content: space-around;
}
#bloc_a_propos:before, #live_tweet:before{
    display:block;
    clear:both;
    content : "";
    position: relative;
    left    : 0;
    bottom  : 0;
    max-width:100%;
    height  : 1px;
    width   : 90%;  /* or 100px */
    border-top:5px solid rgba(64,82,117,.5);
    margin:0 auto;
    padding:4px 0px;
}
#bloc_a_propos h1{
	font-size: 50px;
	margin-top: 20px;
}
#bloc_a_propos h3{
	color: #FFDD19;
	font-size:30px;
	text-align: center;
	margin-bottom: 10px;
}
#right_bloc_propos{
	width:45%;
	position: relative;
	display: table-cell;

	background-color: #fff;
	box-sizing: border-box;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}
#left_bloc_propos{
	width: 60%;
	display: table-cell;
	box-sizing: border-box;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}
#left_bloc_propos h2{
	font-weight: bold;
	font-size: 30px;
}
#left_bloc_propos h3{
	text-align: left;
	padding-top: 10px;
	font-family: 'Futura';
	font-size:20px;
	text-transform: uppercase;
	color: #000;
}
#left_bloc_propos p{
	text-align: left;
	padding-top: 10px;
	font-size:18px;
	color: #000;
	font-family: 'Futura';
}
#left_bloc_propos button{
	font-family: Futura;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	opacity: 0.9;
	border: none;
	font-size: 16px;
	height: 50px;
	width: 240px;
	background-color: #81BEF7; 
}
#left_bloc_propos button:hover{
	box-shadow: 0 0px 5px 7px #fff;
}
/***************************/
/*** Gestion bloc myself ***/
/***************************/
#bloc_formations{
	text-align: center;
	padding-top: 20px;
	height: 600px;
}
#bloc_formations h1{
	font-size: 50px;
}
#list_formations{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;	
}
.formations_case{
	width: 20%;
	height: 400px;
	margin-top: 30px;
	background-color: grey;
}
/*******************************/
/*** Gestion bloc competence ***/
/*******************************/
#my_skills{
	text-align: center;
	padding-top: 20px;
	height: 600px;
}
#my_skills h1{
	font-size: 50px;
}
#my_skills h2{
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 40px;
}

#skills_line_one,#skills_line_two, #skills_line_three,#skills_line_four{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
}
.skill_case{
	width:30%;

}
.skill_type{
	margin-top: 7px;
	color:#585858;
}
.myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

.myBar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #4CAF50;
}
#skills_line_three .myBar,#skills_line_four .myBar{
  background-color:#FACC2E;
}
#label {
  text-align: center;
  line-height: 40px;
  color: white;
}
/****************************/
/*** Gestion bloc twitter ***/
/****************************/
#live_tweet{
	text-align: center;
	width: 100%;
	font-size: 12px;
	margin-bottom: 30px;
}

#live_tweet h1{
	font-size: 50px;
	margin-top: 20px;
}
/***************************/
/*** Gestion bloc footer ***/
/***************************/
#footer{
	text-align: center;

}
